* {
    box-sizing: border-box;
}

body {
    font-family: 'roboto';
    box-sizing: border-box;

    height: 100vh;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    text-align: center;
}

#grid {
    border-style:solid;
    border-color:#999999;
    border-width: 2px;

    height: min(70vh, 95vw);
    width: auto;
    aspect-ratio: 1;
    row-gap: 0px;
    column-gap: 0px;

    padding: 6px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    justify-items: start;
}

.gridNode {
    /* Flex-basis is determined by javascript to fit grid */
    flex: 0 0 30px;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBlock {
    width: 97%;
    height: 97%;

    border-style: solid;
    border-color: #DDDDDD;
    border-width: 2px;
    border-radius: 5px;

    background-color: white;
}

#buttonBar {
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

#buttonBar * {
    font-size: 18px;
}